body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

/*[class*="container"] {
    
}*/

/* --------------------------------- Grid Container ---------------------------------------- */
.container {
    width: 89.5%;
	margin: 0 auto;
    display: grid;
	grid-template-columns: repeat(12, 1fr); 
    /* example repeat(12, fr)*/

	grid-template-rows: auto;

	grid-template-areas: 
	  "header header header header header header header header header header header header"
	  "box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
      "content content content content content content content content content sidebar sidebar sidebar "
      "footer footer footer footer footer footer footer footer footer footer footer footer";

  
	gap: 10px; 
  }

  
  /* -------------------------------- Grid Cells ------------------------------------------ */

/*
example-förläsning- 
min-height parent can grow with contents

header,
section,
main,
aside,
footer {
    border: 1px solid #333;
    min-height: 100px;
}
    */

/*
example-förläsning-
used grid_column:
*/

header {
    border: 1px solid #333;
	min-height: 200px;
    grid-area: header;

}

 
.box1 {
	height: 200px;
    width: 95%;
	border: 1px solid #333;
	grid-area: box1;
    justify-self: start;
}

.box2 {
	height: 200px;
    width: 100%;
    border: 1px solid #333;
	grid-area: box2;
    justify-self: center;
}

.box3 {
	height: 200px;
    width: 95%;
    border: 1px solid #333;
	grid-area: box3;
    justify-self: end;
}

main {
    border: 1px solid #333;
	min-height: 200px;
    grid-area: content; 
}

aside {
    border: 1px solid #333;
	min-height: 200px;
    grid-area: sidebar;
}

footer {
    border: 1px solid #333;
	min-height: 200px;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box4 {
    margin: 10px;
    border: 1px solid #333;

}

.box5 {
    margin: 10px;
    border: 1px solid #333;

}

.box6 {
    margin: 10px;
    border: 1px solid #333;

}

.box7 {
    margin: 10px;
    border: 1px solid #333;

}

/* -------------------- Media Quires ------------------------------ */

/* ------------------ Mindre Desktop ----------------------------- */

@media screen and (min-width: 960px) and (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
	    "header header header header header header header header header header header header"
	    "box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3"
        "content content content content content content content content sidebar sidebar sidebar sidebar "
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    }

   
}

/* ------------------ Tabletts -----------------------------*/

/* ipad 767px */
@media screen and (min-width: 767px) and (max-width: 960px) {
    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        /* 12 columns */
	    "header header header header header header header header header header header header"
	    "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
        "content content content content content content sidebar sidebar sidebar sidebar sidebar sidebar"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    }

   

    footer {
        border: 1px solid #333;
        height: 400px;
        grid-area: footer;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(2, 1fr);
    }

}

/* ------------------- Mobile Phones ------------------------- */

@media screen and (max-width: 767px) {
    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
	    "header header header header header header header header header header header header"
	    "box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1"
        "box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
        "box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3" 
        "content content content content content content content content content content content content" 
        "sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    
    }

    .box1 {
        width: 100%;
        justify-self: center;
    }

    .box2 {
        width: 100%;
        justify-self: center;
    }

    .box3 {
        width: 100%;
        justify-self: center;
    }

    footer {
        border: 1px solid #333;
        height: 800px;
        grid-area: footer;
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows:repeat(4, 1fr);
    }
}

/* ------------------------- FlexBox Main ------------------------------ */

/* {
    box-sizing: border-box;
}*/

.main {
    display: flex;
    
}


.flex-items {
    background-color: rgb(247, 236, 216);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.content1 {
    border: 1px solid #333;
    margin: 10px;
    height: 85px;
    width: 250px;
    flex-grow: 1;
}

.content2 {
    border: 1px solid #333;
    margin: 10px;
    height: 85px;
    width: 250px;
    flex-grow: 1;
}

.content3 {
    border: 1px solid #333;
    margin: 10px;
    height: 85px;
    width: 250px;
    flex-grow: 1;
}

.content4 {
   border: 1px solid #333;
   margin: 10px;
   height: 85px;
   width: 250px;
   flex-grow: 1;
}

.content5 {
    border: 1px solid #333;
    margin: 10px;
    height: 85px;
    width: 250px;
    flex-grow: 1;
}

.content6 {
    border: 1px solid #333;
    margin: 10px;
    height: 85px;
    width: 250px;
    flex-grow: 1;
}


/* ------------------------- FlexBox Aside ------------------------------ */

.aside {
    display: flex;
    
}

.flex-items-aside {
    background-color: rgb(247, 236, 216);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.button5 {
    width: 80%;
    margin: 10px;
}
.button6 {
    width: 80%;
    margin: 10px;
}
.button7 {
    width: 80%;
    margin: 10px;
}
.button8 {
    width: 80%;
    margin: 10px;
}


/* ------------------------- FlexBox Header ------------------------------ */


.flex-items-header {
    background-color: rgb(247, 236, 216);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.button1 {
    margin: 20px;
}
.button2 {
    margin: 20px;
}
.button3 {
    margin: 20px;
}
.button4 {
    margin: 20px;
    margin-left: auto;
}