body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

[class*="container"] {
    width: 89.5%;
	margin: 0 auto;
    display: grid;
}

/* --------------------------------- Grid Container ---------------------------------------- */
.container {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;

	grid-template-areas: 
	  "header header header header"
	  "box1 box2 box2 box3"
      "content content content sidebar "
      "footer footer footer footer";

  
	gap: 10px; 
  }

  /* -------------------------------- Grid Cells ------------------------------------------ */

header {
    border: 1px solid #333;
	height: 200px;
    grid-area: header;

}

 
.box1 {
	height: 200px;
    width: 60%;
	border: 1px solid #333;
	grid-area: box1;
    justify-self: start;
}

.box2 {
	height: 200px;
    width: 134%;
    border: 1px solid #333;
	grid-area: box2;
    justify-self: center;
}

.box3 {
	height: 200px;
    width: 60%;
    border: 1px solid #333;
	grid-area: box3;
    justify-self: end;
}

main {
    border: 1px solid #333;
	height: 200px;
    grid-area: content; 
}

aside {
    border: 1px solid #333;
	height: 200px;
    grid-area: sidebar;
}

footer {
    border: 1px solid #333;
	height: 200px;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box4 {
    margin: 10px;
    border: 1px solid #333;
}

.box5 {
    margin: 10px;
    border: 1px solid #333;
}

.box6 {
    margin: 10px;
    border: 1px solid #333;
}

.box7 {
    margin: 10px;
    border: 1px solid #333;
}